body {
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff, #ECE9E6);
  background: linear-gradient(to right, #ffffff, #ffffff, #ECE9E6);
  font-family: Montserrat, sans-serif;
}

img {
  height: 175px;
  width: 175px;
}

.btn {
  width: 65px;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: black;
}

#red {
  background: #FFB3BA;
}

#orange {
  background: #FFDFBA;
}

#yellow {
  background: #FFFFBA;
}

#green {
  background: #BAFFC9;
}

#blue {
  background: #BAE1FF;
}

#indigo {
  background: #B19CD9;
}

#violet {
  background: #d09cd9;
}