<div id="app container">
  <nav class="navbar">
    <button ng-click="" class="btn" id="red">Red</button>
    <button ng-click="" class="btn" id="orange">Orange</button>
    <button ng-click="" class="btn" id="yellow">Yellow</button>
    <button ng-click="" class="btn" id="green">Green</button>
    <button ng-click="" class="btn" id="blue">Blue</button>
    <button ng-click="" class="btn" id="indigo">Indigo</button>
    <button ng-click="" class="btn" id="violet">Violet</button>
  </nav>
  <div>
    <app song="$ctrl.song" spotify-embed-url="$ctrl.spotifyEmbedUrl" />
  </div>
  <div>
    <color-list songs="$ctrl.songs" on-click="$ctrl.selectSong" />
  </div>
</div>